

.captive-page__text{
  padding-left: 20%;
}

.t-style {
  max-width: 270px;
  color: #000;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}

.language{
  padding-top: 40px;
  padding-bottom: 17px;
}

.wrapper__text img{
  padding-right: 8px;
}

.wrapper__text {
  width: 318px;
  list-style-type: none;
  padding: 0;
}

.wrapper__text li a{
  display: flex;
  align-items: center;
  height: 49px;
  text-decoration: none;
  border-top: 1px solid #C4C4C4;
}

.wrapper__text li:last-child{
  width: 270px;
  border-bottom: 1px solid #C4C4C4;
}

.select {
  background-image: url('../i/captive-page/galka.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.text__input-form {
  padding-top: 25px;
}

.input-form__col{
  padding-bottom: 19px;
}

.input-form__col input{
  width: 318px;
  height: 30px;
  border: 1px solid #777777;
  border-radius: 4px;
  margin-top: 8px;
}

.text__buttons {
  max-width: 318px;
  display: flex;
  flex-direction: column;
}

.text__buttons input {
  height: 38px;
  border-radius: 16px;
  margin-bottom: 16px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 23px;
  cursor: pointer;
}

.register {
  border: none !important;
  background-color: #f37920 !important;
  color: #fff;
}

.text__register {
  max-width: 345px;
  color: #404040;
  font-family: PTSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.6;
  line-height: 20px;
}

/* скрывание блока */
.hidden{
  display: none;
}

/* медиа запросы для формы авторизации*/
@media screen and (max-width: 1280px) {
  .container__captive-page {
    width: 782px;
  }
  .captive-page__colums{
    grid-template-columns: 278px auto;
    height: 835px;
  }
  .captive-page__logo p{
    font-size: 24px;
    line-height: 26px;
  }
  .captive-page__logo img{
    width: 155px;
    padding-top: 60px;
  }
  .wrapper__text, .text__buttons, .input-form__col input{
    max-width: 278px;
  }
  .text__register{
    max-width: 310px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .container__captive-page {
    width: 770px;
  }
  .captive-page__colums{
    grid-template-columns: 294px auto;
    height: 100%;
  }
  .wrapper__text, .text__buttons, .input-form__col input{
    max-width: 290px;
  }
}

@media screen and (max-width: 768px) {
  .container__captive-page {
    width: 672px;
  }
  .captive-page__colums{
    grid-template-columns: 208px auto;
  }
  .captive-page__logo p{
    font-size: 20px;
    line-height: 22px;
  }
  .wrapper__text, .text__buttons, .input-form__col input{
    max-width: 266px;
  }
  .captive-page__text{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 700px) {
  .container__captive-page {
    width: 524px;
  }
  .captive-page__text{
    padding-left: 10px;
  }
}

@media screen and (max-width: 539px) {
  .captive-page__colums{
    grid-template-columns: 158px auto;
  }
  .container__captive-page {
    width: 444px;
  }
  .captive-page__text{
    padding-left: 5px;
  }
} */

@media screen and (max-width: 413px) {
  .captive-page__logo {
    text-align: left;
  }
  .container__captive-page {
    width: 100%;
    margin: 0;
    border-radius: 0px;
  }
  .captive-page__colums{
    grid-template-columns: 100%;
  }
  .captive-page__logo {
    display: flex;
    border-radius: 0px;
    padding: 0px 32px;
  }
  .captive-page__logo img{
    width: 110px;
    padding-top: 30px;
  }
  .captive-page__logo p{
    padding-top: 50px;
    padding-left: 40px;
  }
  .captive-page__text{
    padding: 0 48px;
  }
  .wrapper__text, .text__buttons, .input-form__col input{
    /* max-width: 100%; */
  }
  .text__buttons input{
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  .text__register{
    font-size: 14px;
  }
}

@media screen and (max-width: 374px) {
  .captive-page__text{
    padding: 0 29px;
  }
}

@media screen and (max-width: 320px) {
  .captive-page__logo p{
    padding-left: 25px;
  }
  .captive-page__text{
    padding: 0 9px;
  }
}





