/* стили для политики конфидециальности */
.wrapper__privacy-policy{
  padding-left: 4%;
  padding-right: 20%;
}

.privacy-policy__head{
  display: inline-flex;
  padding-top: 40px;
 }
 
.policy__prev {
  width: 29px;
  height: 26px;
  background-image: url('../i/captive-page/prev.svg');
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  align-self: center;
  margin-right: 10px;
}
 
h1 {
  color: #000;
  font-family: Circe;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: center;
}

.wrapper__privacy-policy p{
  color: #000;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}

.privacy__content{
  height: 711px;
  overflow-y: scroll;
}

/* медиа запросы для политики конфидециальности*/
@media screen and (max-width: 1280px) {
  .container__captive-page {
    width: 782px;
  }
  .captive-page__colums{
    grid-template-columns: 278px auto;
     height: 835px;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper__privacy-policy{
    padding-right: 15%;
  }
  .container__captive-page {
    width: 770px;
  }
  .captive-page__colums{
    grid-template-columns: 294px auto;
    height: 100%;
  }
  .privacy__content{
    max-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper__privacy-policy{
    padding-right: 10%;
  }
  .container__captive-page {
    width: 100%;
  }
  .captive-page__colums{
    grid-template-columns: 208px auto;
  }
}

@media screen and (max-width: 600px) {
  .wrapper__privacy-policy{
    padding-right: 4%;
  }
  .policy__prev {
    width: 40px;
    margin-right: 0;
  }
  h1{
    font-size: 22px;
  }
}

@media screen and (max-width: 490px) {
  .wrapper__privacy-policy{
    padding-right: 0%;
    padding-left: 2%;
  }
  h1{
    font-size: 1em;
    font-weight: 550;
  }
}

@media screen and (max-width: 413px) {
  .container__captive-page {
    width: 100%;
    margin: 0;
    border-radius: 0px;
  }
  .captive-page__colums{
    grid-template-columns: 100%;
    border-radius: 0px;
  }
  .captive-page__logo {
    display: flex;
    border-radius: 0px;
    padding: 0px 7px;
  }
  .captive-page__logo img{
    width: 180px;
    padding-top: 0px;
  }
  .captive-page__logo p{
    font-size: 18px;
    padding: 45px 0px 30px 30px;
  }
  .privacy__content{
    max-width: 100%;
  }
  .wrapper__privacy-policy{
    padding-left: 10%;
    padding-right: 10%;
  }
  .privacy-policy__head{
    padding-top: 7px;
  }
  .policy__prev{
    width: 35px;
    margin-right: 10px;
  }
  h1{
    font-size: 22px;
    font-weight: 400;
  }
}

@media screen and (max-width: 374px) {
  .captive-page__logo p{
    padding: 32px 0px 20px 13px;
  }
  .wrapper__privacy-policy{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 320px) {
  .captive-page__logo{
    padding: 0 15px;
  }
  .captive-page__logo p{
    word-break: break-all;
    padding: 32px 0px 20px 13px;
  }
  h1{
    word-break: break-all;
  }
  .wrapper__privacy-policy{
    padding-left: 2%;
    padding-right: 2%;
  }
}